@model ShoppingCartWebApplication.Models.Item

@{
    ViewData["Title"] = "CreateOrModify";
}

<h4>Add an Item to Shopping Cart</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrModify">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" min="1" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
            <input type="hidden" asp-for="DateAdded" />
            <input type="hidden" asp-for="DateModified" />
            <div class="row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Add To Cart" class="btn btn-success btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"> Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
