@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jeo Shopping Cart</h1>
    <h3 class="mt-md-4"><a href="/Item/Index" class="btn btn-outline-success">Goto your Shopping Cart</a></h3>
</div>
